<h1 id="tableLabel">Students</h1>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Major</th>
      <th>Average</th>
      <th>Delete Student</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.major }}</td>
      <td [ngClass]="{ 'green' : student.average > 80, 'orange': student.average <= 80 && student.average > 50, 'red' : student.average < 50}">
      {{ student.average }}</td>
      <td><button class="button" (click)="deleteStudent(student)">Delete</button></td>
    </tr>
  </tbody>
</table>
